/* Contact form styles */
.form-content{
  display: flex;
  align-items: top;
}


.left-contact-section, .right-contact-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 1;
  width: 100%;
  padding: 20px 40px;
}

@media(max-width: 550px){
  .form-content{
    flex-direction: column;
  }

  .left-contact-section, .right-contact-section{
    padding: 20px 0px;
  }

}

textarea{
  height: 80px;
}

input, textarea  {
  font-size: 20px;
  padding: 7px;
  border:none;
  width: 100%;
  background-color: #D3D8D4;
  margin-bottom: 10px;
  height: 30px;
}

textarea{
  height: 120px;
}

.sumbit-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

