
.document-nav{
  display: flex;
  list-style-type: none;
  align-items: center;  
}

nav{
  flex: 1;
  display: flex;
}

.empty-header-div{
  flex: 1;
}

.top-nav{
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  background-color: #212A31;
  height: 40px;
  width: 50%;
  
}
/* when the screen is less than 430px this settings will take place */
@media(max-width: 430px){
  .empty-header-div{
   display: none;
  }

  .top-nav{
    width: 100%;
  }
}